<html>
<title>Wesley's Homepage</title>
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- move this script to an external file-->
<script>
function post_data(data){
	var xhttp = new XMLHttpRequest();
	xhttp.open("POST", "/post_data/", true);
	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhttp.send(data);
}

csrf_tokens = documentGetElementsByName("csrfmiddlewaretoken");
if (csrf_tokens.length > 1) {
	for (i=1; i<csrf_tokens.length; i++) {
		csrf_tokens[i].value = csrf_tokens[0].value
	{
}
</script>
{% csrf_token %}
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/get_content/?cname=home">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a id="uk-link" class="nav-link" href="/get_content/?cname=ukrainian">Ukrainian</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/get_content/?cname=workout">Workout</a>
          </li>
        </ul>
      </div>
    </nav>

<br><br>
      <div class ="jumbotron">
                <div class="container">
                        <h1>Wesley's Homepage</h1>
                </div>
        </div>

<br>

	{% if data %}

	{{data | safe}}
	
	{% endif %}

</body>
</html>
